$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$speed: 700ms;
$mvgreen: #42bd41;
$mvred: #f36c60;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.card {
    height:100px;
    margin-bottom: 1.4em;
    background-color: #fff !important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s;
   
    &:hover {
            box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
    }
}

.votes {
    padding: 0;
}

.upvote-icon {
    position: relative;
    top:0.3em;
    left:1.1em;
}

.downvote-icon {
    position: relative;
    top:-0.1em;
    left:1.1em;
}

.upvote, .downvote {
    margin:0;
    padding: 0;
    height: 50px;
} 

.upvote:hover {
    cursor: pointer;
    background-color: $mvgreen;
    -webkit-transition: background-color $speed linear;
    -moz-transition: background-color $speed linear;
    -o-transition: background-color $speed linear;
    -ms-transition: background-color $speed linear;
    transition: background-color $speed linear;
}

.downvote:hover {
    cursor: pointer;
    background-color: $mvred;
    -webkit-transition: background-color $speed linear;
    -moz-transition: background-color $speed linear;
    -o-transition: background-color $speed linear;
    -ms-transition: background-color $speed linear;
    transition: background-color $speed linear;
}

ul.infos {
    margin-top: 1.4em;
    list-style: none;
}

li.category {
    font-weight: bold;
    font-size: 2em;
}


div.scores {
    padding:0;
}

.mvgreen {
    background-color: $mvgreen;
}

.mvred {
    background-color: $mvred;
}

.mvfontgreen {
    color: $mvgreen;
}

.mvfontred {
    color: $mvred;
}

div.dialog {
    line-height: 5em;
    height: 5em;
    margin-bottom: 1.4em;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s;
}

.status {
    font-weight: bold;
    font-size: 2em;
}

span.score {
    position: relative;
    top:0.8em;
    left:1.8em;
    font-size: 2em;
}

span.upvotes-num {
    color: $mvgreen;
    position: relative;
    top:1.2em;
    left:2.6em;
}

span.downvotes-num {
    color: $mvred;
    position: relative;
    top:1.2em;
    left:4.3em;
}